/* 전체 페이지 중앙 정렬 */
.private-access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.password-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #282828;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #444;
}

.error-message {
  color: #282828;
  font-size: 14px;
  margin-bottom: 20px;
}
